#header
{
width: 1050px;
margin: 0 auto;

}
#header #Title-Header
{
   width: 28%;
   float: left;
   HEIGHT: 130PX;
  background: #023B4E;

}
#header #Title-Header #Title
{
margin:0 auto;
}
#header #Title-Header #Title img
{
 margin-top: 45px;
    margin-left: 19px;
}
#header  #Tab-Control
{
width: 72%;
float: left;
background: #014558;
 HEIGHT: 130PX;

  cursor: pointer;
}
#header  #Tab-Control #tabs
{

margin-top: 37px;
}
#header  #Tab-Control .sub-tab
{
    width: 111px;
    background: #4E8D92;
    float:left;
    margin-top: 29px;
    padding: 20px;
    text-align: center;
 }
#header  #Tab-Control .sub-tab:hover
{

 background: #335C5E;
}