.main_content {
    padding: 10px;
    background-color: #E5EECC;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

.inner_left {
    background-color: #4458F6;
    margin: 4px;
    width: 33%;
    float: left;
    overflow: hidden;
}

.inner_right {
    margin: 4px;
    width: 33%;
    float: left;
    overflow: hidden;
    background-color: #7F8A3E;
}

.inner_middle {
    width: 32%;
    float: left;
    overflow: hidden;
    background-color: #393530;
}

.application a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}