body{
    background: none repeat scroll 0 0 #E5E5E5;
    font-family: "Times New Roman";
}
.main_content {
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

.inner_left {
    margin: 4px;
    width: 32%;
    float: left;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
    box-shadow: 8px 8px 4px #888888;
}

.inner_right {
    margin: 4px;
    width: 32%;
    float: left;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
    box-shadow: 8px 8px 4px #888888;
}

.inner_middle {
    width: 31%;
    float: left;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #A1A1A1;
    border-radius: 4px;
    box-shadow: 8px 8px 4px #888888;
}

.application a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h3 .header_position{
    align-content: center;
}